beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
filelock
Flask
Flask-SQLAlchemy
future
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
python-whois
requests
requests-file
six
soupsieve
SQLAlchemy
tldextract
typing_extensions
urllib3
Werkzeug
zipp
scikit-learn
scipy
seaborn
numpy
pandas
matplotlib
seaborn